[Unit]
Description=Caddy
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/pds
ExecStart=/usr/bin/docker compose --file /opt/sif.io/caddy/compose.yaml up --detach
ExecStop=/usr/bin/docker compose --file /opt/sif.io/caddy/compose.yaml down

[Install]
WantedBy=default.target
